.main-content {
    display: flex;
    width: 100%;
    height: calc(100vh * 95 / 100);
    align-items: center;
}

.dashboard-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: calc(100% - 390px); /* Subtract Sidebar width */
    overflow: hidden;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.chart {
    background: linear-gradient(145deg, #0f2027, #203a43, #2c5364);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 45%;
    min-width: 300px;
    height: calc(100vh * 0.45); /* Adjust height */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.chart-diagram {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart h3 {
    margin-bottom: 20px;
}

.top-section {
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
    justify-content: center; /* Centers the elements horizontally */
}

.top-groups, .top-students {
    background: linear-gradient(145deg, #0f2027, #203a43, #2c5364);
    padding: 20px;
    width: 45%;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.top-groups h3, .top-students h3 {
    margin-bottom: 20px;
    color: #fff;
}

.top-groups ul {
    list-style-type: none;
    padding: 0;
}

.top-groups li {
    color: #fff;
    font-size: 1.1em;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.top-groups li:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.top-students table {
    width: 100%;
    border-collapse: collapse;
}

.top-students th, .top-students td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
    color: #fff;
}

.top-students tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
}

.top-students tr:hover {
    background: rgba(255, 255, 255, 0.2);
}
